.LoginPage {
  display: flex;

  .left{
    flex: 1;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    margin-left: 100px;
  }
  .right {
    flex: 2;
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      align-content: center;
      justify-content: center;
      align-items: center;

    }

    .title {
      font-size: larger;
      align-content: center;
      text-align: center;
      margin-top: 200px;
      margin-bottom: 40px;
    }

    .loginform {
      margin-left: 30px;
      margin-right: 30px;
    }

    .login-card {
      width: 50%;
      margin: 0 auto;
      z-index: 0;
    }
  }
}