.header-content{
  text-align: center;
  font-size: larger;
}
.footer-content{
  text-align: center;
  color: #9e9393;
}
.link-buttom{
  margin-top: 10vp;
  margin-bottom: 10vp;
  background-color: #9e9393;
}
